<div id="header">
  <% if logged_in? %>
  <table>
    <tr>
      <td id="header_elem"><%= link_to "Profile", current_user %></td>
      <td id="header_elem"><%= link_to "Users", users_path %></td>
      <td id="header_elem"><%= link_to "Log out", logout_path, method: "delete" %></td>
      <td id="header_elem"><%= link_to "Settings", edit_user_path(current_user) %></td>
    <tr>
    <tr>
      <td>You are <b><%= current_user.name %></b> (<%= current_user.id %>)</td>
    </tr>
  </table>
  <% else %>
    Please <%= link_to "Log in", login_path %> first.
  <% end %>
</div>