<% if accessible?(@user) or admin?(current_user) %>
  <table id="edit-user-table">
    <tr>
      <td>
        <%= form_for(@user) do |f| %>
          <%= f.label :name %>
          <%= f.text_field :name %><br><br>

          <%= f.label :email %>
          <%= f.email_field :email %><br><br>

          <%= f.label :password %>
          <%= f.password_field :password %><br><br>

          <%= f.label :password_confirmation, "Confirmation" %>
          <%= f.password_field :password_confirmation %><br><br>

          <% if admin?(current_user) %>
            <%= f.label :admin, "Admin?" %>
            <%= f.check_box :admin %> <br><br>
          <% end %>
          
          <%= f.submit "Update user", class: "btn btn-primary" %>
        <% end %><br>
      </td>
    </tr>
    <tr> 
      <td>
        <%= link_to "Delete", @user, class: "btn btn-primary", method: "delete" %>
      </td>
    </tr>
  </table>
<% else %>
  <div id="centered">
    This is not you! You cannot invade other peoples privacy like that!
  </div>
<% end %>